*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Shared Styles  */
.google-font-poppins {
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
}
.logo h2{
    font-size: 45px;
}
.color-orange{
    color: #FD6E0A;
}
.btn{
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
    color: white;
    width: 150px;
    height: 64px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
/* main styles start from here  */
header{
    /* background-color: #ffb885; */
     background-color: #FFF8F3;
    background:url("../images/developer.png"), url("../images/header_bg.png"), #FFF8F3;
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    padding-top: 50px;
    
}
nav{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .menu-bar{
    text-decoration: none;
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;
}
nav .menu-bar a{
    text-decoration: none;
    color: #474747;
    font-size: 20px;
}
/* Banner styles */
#banner{
    margin: 48px 38px 0 230px;
    display: flex;
    align-items: center;

}
#banner .banner-content{
    max-width: 585px;
}
#banner .banner-content h2{
    font-size: 45px;
    color: #474747;
    margin-bottom: 5px;
}
#banner .banner-content h1{
    font-size: 85px;
    margin-bottom: 5px;
}
#banner .banner-content p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}

#banner .banner-img img{
    max-width: 585px;
    vertical-align: middle;
}